* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.main-heading {

}

.books {
    list-style: none;
    margin: 2rem 1rem;
    padding-left: 0;
    display: inline-block;
}

.book__item {
    display: inline-block;
    padding: 0;
    margin: 2rem;
    position: relative;
    width: 150px;
}

.new:before {
    content: "Новинка";
    background: cornflowerblue;
    color: white;
    padding: 3px;
    position: absolute;
    top: 60px;
    left: -5px;
    font-weight: bold;
    font-size: 14px;
}

.book__cover {
    display: block;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
}

.book__title {
    font-size: 14px;
}

.book__author {
    margin: 10px 0;
    font-size: 14px;
    opacity: 0.6;
}

.book__price {
    font-size: 14px;
    font-weight: bold;
}

.book__price::after {
    content: " руб.";
    font-size: 12px;
    font-weight: bold;
}
