body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #322f35;
    background-color: #272b30;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffe300;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: -1px -1px 0 rgb(0 0 0 / 30%);
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    font-weight: bolder;
}

.btn-primary {
    margin-top: 24px;
}

.card {
    margin: 5px;
    width: 249px;
}

.paginator {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.m-right{
    margin-right: 30px;
}

table, th, td {
    border: 2px solid grey;
    text-align: center;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
}
