* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    background-color: #f6f9fc;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div {
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    margin-bottom: 10px;
    position: relative;
}

.card__heading {
    color: #32325d;
    margin-bottom: 10px;
    font-weight: 600;
}

.card__info {
    box-shadow: 0 0.5rem 1.25rem rgba(35, 38, 45, 0.13);
    border-radius: 1rem;
    max-width: 350px;
    padding: 25px;
    margin: 15px 0;
}

.card__icon {
    background-color: #1f2c73;
    line-height: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    border-radius: 50%;
    color: white;
}

.card__icon--float {
    float: left;
}

.card__info--after-float {
    margin-left: 40px;
    max-width: 310px;
}

.card__icon--inline-block {
    display: inline-block;
}

.card__info--inline-block {
    display: inline-block;
    margin-left: 10px;
    max-width: 310px;
}

.vertical-top {
    vertical-align: top;
    margin-top: 20px;
}

.vertical-middle {
    vertical-align: middle;
    margin-top: 20px;
}

.display-table {
    display: table;
    max-width: 350px;
}

.display-cell {
    display: table-cell;
    width: 45px;
}

.relative {
    position: relative;
}

.card--centered {
    left: 700px;
    bottom: 790px;
}

.icon--absolute {
    position: absolute;
}

.icon--1 {
    left: -14px;
    top: -14px;
}

.icon--2 {
    left: -14px;
    top: 172px;
}

.icon--3 {
    left: 336px;
    top: 172px;
}

.icon--4 {
    left: 336px;
    top: -14px;
}

.icon--5 {
    left: 168px;
    top: -14px;
}

.icon--6 {
    left: -14px;
    top: 86px;
}

.icon--7 {
    left: 336px;
    top: 86px;
}

.icon--8 {
    left: 168px;
    top: 172px;
}

.icon--9 {
    left: 168px;
    top: 86px;
}
