@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700&display=swap&subset=cyrillic');

:root {
    --background: #ffdf32;
    --description: rgba(128, 128, 128, 0.8);
    --color-grey: #4c495e;
    --color-orange: #f18231;
    --opacity-intesy: rgba(0, 0, 0, 0.1);
    --basket-fill: #58546b;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: var(--background);
}

ul {
    margin: 0;
    padding-left: 5px;
    list-style: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 25px auto;
}

@media screen and (min-width: 0)  {
    .container {
        max-width: 612px;
        padding: 20px;
    }
}

@media screen and (min-width: 575.98px) {
    .container {
        max-width: 1080px;
    }

    .left-side img:hover {
        filter: drop-shadow(0 35px 25px rgba(0, 0, 0, .4));
        transform: translateY(-10px);
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    }

}

@media screen and (min-width: 899.98px) {

    .left-side img:hover {
        filter: drop-shadow(0 35px 25px rgba(0, 0, 0, .4));
        transform: translateY(-10px) scale(1.02);
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    }

    .right {
        float: right;
    }

}

.left {
    float: left;
    text-align: center;
    vertical-align: middle;
}

.left-side {
    display: inline-block;
}
.left-side img,
.left-side span {
    display: block;
}

.left-side img
{
    margin-bottom: 25px;
}

span {
    font-family: "Montserrat", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.8);
    font-size: 1.5em;
}

.form {
    position: relative;
}

.form-caption {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Comfortaa", Arial, sans-serif;
    margin-bottom: 0;
}

.filter-item,.filter-item-size {
    margin: 0;
    padding: 0;
    border: none;
}

.filter-item legend {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    color: white;
}

.filter-item-size legend{
    padding-top: 40px;
    color: white;
    padding-bottom: 15px;
}

.label-radio {
    position: relative;
    color: white;
}

.label-radio--gray::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-grey);
}

.label-radio--orange::before {
    content: "";
    position: absolute;
    left: 40px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-orange);
}

.input-radio:checked + .label-radio::before {
    border: 3px solid var(--opacity-intesy);
}

.label-radio-size {
    position: relative;
    color: white;
    margin-right: 30px;
}

.input-radio:checked + .label-radio-size::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 3px solid var(--opacity-intesy);
    bottom: -3px;
    left: -8px;
}

.input-radio--s:checked + .label-radio-size::before {
    bottom: -3px;
    left: -8px;
}

.input-radio--m:checked + .label-radio-size::before {
    bottom: -4px;
    left: -6px;
}

.input-radio--l:checked + .label-radio-size::before {
    bottom: -4px;
    left: -9px;
}

.input-radio--xl:checked + .label-radio-size::before {
    bottom: -6px;
    left: -6px;
    width: 32px;
    height: 32px;
}

.input-radio--xxl:checked + .label-radio-size::before {
    bottom: -9px;
    left: -4px;
    width: 40px;
    height: 40px;
}

.filter-radio-list--size  {
    position: relative;
}

.filter-radio-list--size li {
    display: inline-block;
}

.filter-radio-list--size:after {
    content: url('../img/ruler.svg');
    display: block;
    width: 40px;
    position: absolute;
    top: 0px;
    left: 250px;
}

.filter-item-size {
    margin-bottom: 50px;
}

.price {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.button-submit {
    margin-top: 100px;
    margin-left: 280px  ;
   position: relative;
    background: 0 0;
    border: 0;
}

.button-submit:after {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    left: -15px;
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
}

.left-side img {
    filter: drop-shadow(0 35px 18px rgba(0, 0, 0, .5));
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.button-shadow {
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
}
