@charset "utf-8";
@import "bootstrap.min.css";
@import "all.min.css";

@font-face {
    font-family: "Myriad Pro";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/MyRiad Pro/MyriadPro-Regular.woff2") format("woff2"),
    url("../fonts/MyRiad Pro/MyriadPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/MyRiad Pro/MyriadPro-Semibold.woff2") format("woff2"),
    url("../fonts/MyRiad Pro/MyriadPro-Semibold.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/MyRiad Pro/MyriadPro-Bold.woff2") format("woff2"),
    url("../fonts/MyRiad Pro/MyriadPro-Bold.woff") format("woff");
}

*, ::before, ::after {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Myriad Pro", Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.wrapper {
    flex: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0.5rem 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.main-header {
    position: sticky;
    top:0;
    z-index: 1;
}

.nav {
    flex-direction: column;
}

.contacts,
.nav__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav__top {
    background-color: #252525;
    padding: 0.5rem 0;
}

.nav__bottom--nav {
    padding: 0;
}

.contacts__list {
    display: flex;
    margin-left: auto;
    padding: 0.5rem 0;
}

.contacts__item {
    padding-left: 2rem;
    color: #7f7f7f;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
}

.contacts__item::before {
    font-family: FontAwesome;
    color: #f2f2f2;
    background-color: #285360;
    border-radius: 50%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-right: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.contacts__item--email::before {
    content: "\f0e0";
}

.contacts__item--phone::before {
    content: "\f095";
}

.contacts__item:hover a {
    color: white;
    transition: all 0.5s ease-in-out;
}

.contacts__item:hover.contacts__item::before {
    background-color: #0099cc;
    transition: all 0.5s ease-in-out;
}

.nav__bottom {
    padding: 0;
    background-color: #fafafa;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.logo {
    padding: 0;
}

.navigation {
    justify-content: flex-end;
}

.navigation__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navigation__item {
    padding: 1.15rem 1.5rem;
}

.navigation__list li {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

.navigation__item:hover a {
    color: white;
}

.navigation__item:hover:not(.navigation__item--current) {
    background-color: #285360;
    opacity: 0.8;
}

.navigation__item:active {
    opacity: 0.9;
}

.navigation__item--current a {
    color: white;
}

.navigation__item--current {
    background-color: #285360;
}

.slider {
    position: relative;
    height: 460px;
    background: url("../img/decor/line_pattern.png"), url("../img/slides/main.jpg") 20% center / cover;
}

.light-waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: url("../img/decor/white_waves_bg.png") repeat-x;
}

.main__section {
    background: #e8e8e8;
}

.section {
    padding: 3rem 0;
}

.section__heading {
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: 3.5rem;
}

.advantages {
    padding: 3rem 0;
}

.advantage {
    display: flex;
    align-items: stretch;
}

.advantage__description {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
}
.advantage__payload {
    flex: 1 0 auto;
}

.advantage__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.advantage__text {
    line-height: 1.48;
    padding: 1rem;
    margin-bottom: 2rem;
}

.advantage__svg {
    display: block;
    height: 100px;
    fill: #252525;
    transition: all 0.5s ease-in-out;
   margin: 0 auto 2rem;
}

.advantage__svg:hover {
    fill: #123447;
    transition: all 0.5s ease-in-out;
}

.btn-default {
    background: #252525;
    text-transform: uppercase;
    border-radius: 0;
    color: #ffffff;
    letter-spacing: 0.025em;
    transition: all 0.5s ease-in-out;
    padding: 0.5rem 2rem;
}

.btn-default:hover {
    transition: all 0.5s ease-in-out;
    color: rgba(255, 255, 255, 1);
    background: #285360;
    transform: translateY(-2px);
}

.footer__waves {
    background: #e8e8e8 url("../img/decor/wave_bg.png") repeat-x;
    display: block;
    height: 20px;
}

.footer__inner {
    background: #252525;
    padding: 2rem 0;
}

.footer__logo {
    display: block;
    transition: all 0.5s ease-in-out;
}

.footer__logo:hover .footer__logo-svg {
    fill: white;
    transition: all 0.5s ease-in-out;
}

.footer__logo-svg {
    fill: #7f7f7f;
}

.footer__block {
    margin-bottom: 2rem;
    padding: 1rem;
}

.footer__heading {
    text-transform: uppercase;
    color: #7f7f7f;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 0.025em;
    line-height: 1.2;
    font-size: 1rem;
}

.footer__org {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__copyright {
    color: #7f7f7f;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags__item {
    text-transform: lowercase;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    text-decoration: none;
    background: #666666;
    color: #252525;
    transition: all 0.5s ease-in-out;
    border-radius: 0.25rem;
}

.tags__item:hover a {
    color: white;
    transition: all 0.5s ease-in-out;
}

.tags__item.tags__item:hover {
    background-color: #7f7f7f;
}

.socials {
    display: flex;
    flex-wrap: wrap;
}

.socials__item {
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    line-height: 3;
    text-align: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.8);
    background: #4d4d4d;
    margin: 0.25rem;
    transition: all 0.5s ease-in-out;
}

.socials__item:not(last-child) {
    margin-right: 15px;
}

.socials__item:hover {
    transition: all 0.5s ease-in-out;
    color: rgba(255, 255, 255, 1);
    background: #285360;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.address__item {
    color: #7f7f7f;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.address__item::before {
    font-family: FontAwesome;
}

.address__item:hover a,
.address__item:hover.address__item::before {
    color: white;
    transition: all 0.5s ease-in-out;
}

.target__socials__item {
    display: inline-block;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.9);
    background: #252525;
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin-right: 1rem;
}

.info-block {
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
}

.main-section {
    background: #e8e8e8;
}

.slider-about {
    position: relative;
    height: 300px;
    background: url("../img/decor/line_pattern.png"), url("../img/slides/about.jpg") 50% 20% / cover;
}

.slider-blog {
    position: relative;
    height: 300px;
    background: url("../img/decor/line_pattern.png"), url("../img/slides/blog.jpg") center/cover;
}

.slider-contacts {
    position: relative;
    height: 300px;
    background: url("../img/decor/line_pattern.png"), url("../img/slides/contacts.jpg") 25% 40% /cover;
}

.slider-gallery {
    position: relative;
    height: 300px;
    background: url("../img/decor/line_pattern.png"), url("../img/slides/gallery.jpg") center center /cover;
}

.target__heading {
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.target__description {
    color: #526069;
}

.team {
    display: flex;
    align-items: stretch;
}

.person {
    display: flex;
    flex-direction: column;
    background: url("../img/about/wood_pattern.jpg") repeat-y;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.person:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.person__info {
    flex: 1 0 auto;
}

.person__img {
    width: 100%;
    padding: 2rem;
}

.person__name {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}

.person__job {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.15rem;
    font-size: 0.75rem;
    opacity: 0.7;
}

.person__description {
    padding: 2rem;
    text-align: left;
    color: #526069;
}

.person__socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid rgba(82, 96, 105, 0.2);
}

.person__socials__item {
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.9);
    background: #252525;
    margin-bottom: 1rem;
    transition: all 0.5s ease-in-out;
}

.person__socials__item:hover {
    transition: all 0.5s ease-in-out;
    color: rgba(255, 255, 255, 1);
    background: #285360;
    box-shadow: 0 .2rem .25rem rgba(40, 83, 96, .4);
}

.blog__menu, .blog__news__block {
    background: #fff;
    box-shadow: 0 .2rem .25rem rgba(40, 83, 96, .4);
}

.blog__menu {
    width: 20%;
    padding: 0;
}

@media screen and (max-width: 991.98px) {
    .blog__menu {
        width: 260px;
    }
}

.blog {
    justify-content: center;
    gap: 1rem;
    align-items: flex-start;
}

.blog__menu__header {
    padding: 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
}

.blog__menu__text {
    font-size: 0.75rem;
    text-align: left;
    color: #526069;
    padding: 1.5rem 2rem;
}

.blog__menu__list {
    display: block;
    padding: 0;
}

.blog__menu__item {
    list-style: none;
}

.list_arrow {
    padding-right: 1rem;
}

.blog__menu__link {
    display: block;
    text-decoration: none;
    color: #526069;
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease-in-out;
}

.blog__menu__link:hover {
    background: #285360;
    color: white;
    padding-left: 2.5rem;
    transition: all 0.3s ease-in-out;
}

.blog__menu__tags {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
}

.blog__menu__tags__item {
    text-transform: lowercase;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    text-decoration: none;
    background: rgba(127, 127, 127, 0.1);
    color: #526069;
    transition: all 0.5s ease-in-out;
    border-radius: 0.25rem;
    font-size: 0.8rem
}

.blog__menu__tags__item:hover {
    color: #526069;
    transition: all 0.5s ease-in-out;
    background: rgba(127, 127, 127, 0.3);
}

.blog__news {
    display: flex;
    flex-direction: column;
}

.blog__news__block {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.blog__news__date {
    display: flex;
    flex-direction: column;
    background: black;
    margin: 1rem;
    padding: 0 1rem;
    width: 72px;
}

.blog__news__day {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    padding: 0;
    height: 40px;
}

.blog__news__month {
    text-align: center;
    font-size: 1rem;
    color: white;
    padding-bottom: 0.5rem;
}

.blog__news__title {
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 1px solid dimgrey;
    margin-bottom: 1rem;
}

.blog__news__pic {
    float: left;
    padding: 0.5rem 1rem;
}

.blog__news__pic_full {
    float: left;
    padding: 0.5rem 1rem;
    width: 100%;
}

.blog__news__text {
    color: #526069;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

p {
    margin-bottom: 0.5rem;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.btn-blog,
.btn-contacts {
    background: #252525;
    text-transform: uppercase;
    border-radius: 0;
    color: #ffffff;
    letter-spacing: 0.025em;
    transition: all 0.5s ease-in-out;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.btn-blog:hover,
.btn-contacts:hover {
    transition: all 0.5s ease-in-out;
    color: rgba(255, 255, 255, 1);
    background: #285360;
    transform: translateY(-2px);
}
.btn-contacts {
    width: 260px;
}

.gallery {
    display: inline-block;
}

.gallery__item {
    background: white;
    display: inline-block;
    vertical-align: center;
    padding: 0.25rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    transition: transform 0.3s ease-in-out, filter 0.2s ease-in-out;
    filter: grayscale(1);
}

.gallery__item:hover {
    transform: scale(1.2);
    filter: grayscale(0);
}

.gallery__img {
    width: 100%;
    display: block;
}

.gallery__img-title {
    padding: 1rem;
}

.about-company h3,
.contacts-company h3 {
    font-weight: 700;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
    position: relative;
}

.about-company p,
.contacts-company p {
    line-height: 28px;
}

.desc li {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}

.common-link {
    width: 260px;
    background: none;
    border: none;
}

.info-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 76px;
}

.about-company,
.contacts-company {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.about-company {
    margin-right: 127px;
}

.info-wrapper h3::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 7px;
    top: -25px;
    background: #303030;
}

.about-company .desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: space-between;
    padding-left: 32px;
    position: relative;
}

.desc li:not(:last-child) {
    margin-bottom: 20px;
}

.desc li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: 0;
    border-radius: 50%;
    border: 2px solid #303030;
}

.desc li:nth-child(1)::before {
    top: 10px;
}

.desc li:nth-child(2)::before {
    top: 58px;
}

.desc li:nth-child(3)::before {
    top: 106px;
}

.sub_desc {
    margin-bottom: 84px;
}

.contacts-company p {
    margin-bottom: 40px;
}

.contacts-company img {
    background: #303030;
    margin-bottom: 85px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 76px;
}


.map {
    width:100%;
    height: 310px;
    display: block;
    margin-bottom: 85px;
}

.map img {
    width: 560px;
    height: 350px;
}

.popup-map {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;

    display: none;
    width: 960px;
    height: 560px;

    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    animation-name: bounce;
    animation-duration: 0.6s;
}

.popup-map-active {
    display: block;
}

.popup-map-wrap {
    position: relative;
}

.popup-map-wrap iframe {
    width: 960px;
    height: 560px;
    border: none;
}
