* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #675F5F;
}

form {
    max-width: 1026px;
    border: 1px solid #828181;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
}

legend {
    font-style: italic;
    font-size: 1.2rem;
}

fieldset {
    border: 1px solid #828181;
    border-radius: 5px;
    padding: 60px 60px 46px 60px;
}

label {
    display: block;
    padding-bottom: 25px;
    font-size: 0.8rem;
}

input {
    margin-right: auto;
    margin-left: 30px;
    width: 200px;
    border: 1px solid #828181;
    border-radius: 3px;
    padding: 5px;
}

select {
    margin-right: auto;
    margin-left: 30px;
}

textarea {
    margin-left: 50px;
}

.horizontal-line {
    width: 100%;
    background-color: #3d3d3d;
    height: 1px;
}

