html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.university {
    background-color: #e2e2e2;
}

.university__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.university__item a {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px;
    font-size: 12px;
    line-height: 1.2;
    cursor: pointer;
}

.university__item a:hover,
.university__item a:focus   {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 -5px 9px 2px #ababab;
}

.vertical-menu {
    display: inline-block;
    padding: 40px;
    box-shadow: 0 -5px 9px 2px #ababab;
    background-image: url('../img/sloi.png');
    background-repeat: no-repeat;
}

.vertical-menu__list {
    min-width: 143px;
    margin: 0;
    padding: 0;
}

.vertical-menu__list li:not(:last-child) {
    margin-bottom: 10px;
}

.vertical-menu__list a {
    color: #201e8f;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

.vertical-menu__list a::before {
    display: none;
    position: absolute;
    content: url('../img/str.png');
    bottom: 2px;
    left: -12px;
}

.vertical-menu__list a:hover::before,
.vertical-menu__list a:focus::before {
    display: inline-block;
}
