* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.team-section {
    padding: 3rem 0;
    background-color: #f6f9fc;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #32325d;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.person__item {
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
}

.person__img {
    display: block;
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 180px;
}

.person__name {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    color: #32325d;
}

.person__position {
    color: #425466;
    margin: 0.5rem 0;

}

.col {
    padding: 1rem;
    float: left;
}

@media (max-width: 1199.98px) {
    .col {
        width: 25%;
    }
}

@media (max-width: 991.98px) {
    .col {
        width: 33.33333333%;
    }
}

@media (max-width: 767.98px) {
    .col {
        width: 50%;
    }
}

@media (max-width: 575.98px) {
    .col {
        width: 100%;
    }
}









