@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #edeff2;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

button {
    display: inline-block;
}

.film-item {
    display: inline-block;
    position: relative;
}

.film__poster {
    width: 430px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(64, 116, 185, 0.3);
    position: absolute;
    line-height: 0.025rem;
    background-image: linear-gradient(to right, rgba(64, 116, 185, 0.5), rgba(64, 116, 185, 0.5), rgba(0, 153, 204, .9)), url("../assests/alien_full.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-image 0.5s ease-in-out;
}

.film__poster:hover {
    box-shadow: 0 20px 30px rgba(64, 116, 185, 0.3);
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-image 0.5s ease-in-out;
}

.film__delete {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 50px;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
}

.film__delete:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.film__delete:before {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #4074b9;
    position: absolute;
    top: 25px;
    left: 25px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.film__delete:after {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #4074b9;
    position: absolute;
    top: 25px;
    left: 25px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.film__info {
    position: absolute;
    left: 50px;
    bottom: 35px;
}

.film__director {
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 1em;
}

.film__title, .film__subtitle {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    margin: 30px 0;
}

.film__format {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: white;
    color: #4074b9;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 0.9em;
    opacity: 0.9;
}

.film__upload {
    position: absolute;
    bottom: 50px;
    right: 50px;
    opacity: 0.9;
}

.film__nav {
    position: relative;
    top: 500px;
    width: 430px;
}

.dots,
.film__duration {
    margin: 15px 10px;
    color: #333;
    display: inline-block;
}

.dots {
    width: 155px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #b4bec7;
    border: none;
    margin: 5px;
    cursor: pointer;
    padding: 0;
}

.dot:focus {
    outline: 1px solid #085078;
}

.dot--current {
    background-color: #4074b9;
}

.move-bg:hover {
    background-image: linear-gradient(to right, rgba(64, 116, 185, 0.5), rgba(64, 116, 185, 0.5), rgba(0, 153, 204, .9)), url("../assests/alien_full.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    animation-name: move-bg;
    animation-duration: 5s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes move-bg {
    0% {
        background-position: center center;
    }
    25% {
        background-position: 51% 45%;
    }

    50% {
        background-position: 52% 50%;
    }
    75% {
        background-position: 51% 45%;
    }
    100% {
        background-position: center center;
    }

}
